<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="nilnul.regime_.et.people._petition.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="nilnul.regime_.et.people._pertition.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <nilnul.regime_.et.people._petition.Settings1>
      <setting name="threshold" serializeAs="String">
        <value>1000000</value>
      </setting>
      <setting name="ratio_of_population" serializeAs="String">
        <value>0.01</value>
      </setting>
      <setting name="limit_per_month" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="valid_in_months" serializeAs="String">
        <value>10</value>
      </setting>
    </nilnul.regime_.et.people._petition.Settings1>
    <nilnul.regime_.et.people._pertition.Settings1>
      <setting name="threshold" serializeAs="String">
        <value>1000000</value>
      </setting>
      <setting name="ratio_of_population" serializeAs="String">
        <value>0.01</value>
      </setting>
      <setting name="limit_per_year" serializeAs="String">
        <value>12</value>
      </setting>
    </nilnul.regime_.et.people._pertition.Settings1>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>